<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vaccine_on">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vaccine_on"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Activity.ChangeNicknameActivity"></activity>
        <activity android:name=".Activity.MoreInfoActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.BoardDetailActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.LogInActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>